services:

  db:
    image: postgres
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin123
      POSTGRES_DB: bus_app
    volumes:
      - .:/var/lib/postgresql

  adminer:
    image: adminer
    container_name: adminer
    restart: always
    ports:
      - 8080:8080
